// Variables

// Colors
$black: #000000;
$white: #FFFFFF;

// Fonts
$gilroy-font: 'Gilroy';

// responsive view variables
$screen-480: 480px;
$screen-576: 576px;
$screen-768: 768px;
$screen-991: 991px;
$screen-1366: 1366px;
