// Headers
.fb_title-header {
    background-color: $blue;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    margin: 30px 0;

    h1 {
        color: $white;
    }
}

header {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    background-color: $white;
}

.fb_header {
    @include flexCenterBetween;
    padding: 15px 0;

    nav {
        @include flexCenter;
    }

    &-logo {
        max-width: 180px;
    }

    &-btns {
        display: flex;
        align-items: center;
        a {
            margin-left: 10px;
        }
    }
}

.fb_user-info {
    position: relative;
    margin-right: 20px;
    max-width: 250px;

    &__desc {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__details {
        margin-left: 10px;
        p {
            @include fontStyle(600, 14, 18, $black);
        }
        span {
            @include fontStyle(400, 12, 14, $black);
        }
    }


    &-options {
        position: absolute;
        top: 55px;
        left: 0;
        background-color: $white;
        box-shadow: 0px 4px 12px rgba($black, 0.2);
        max-width: 150px;
        width: 100%;
        border-radius: 5px;
        padding: 6px 0;

        li {
            cursor: pointer;

            a, span {
                @include fontStyle(400, 16, 20, $black);
                padding: 6px 12px;
                display: block;

                &:hover {
                    color: $blue;
                }
            }
        }
    }
}