// Common css
* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Gilroy', sans-serif; }
ol, ul { list-style: none; } 
body { overflow-x: hidden; font-size: 62.5%; }
a { display: inline-block; text-decoration: none; }
img { width: 100%; font-size: 0; }
input { outline: none; }
button { background: none; outline: none; border: none; }

// Fonts
@font-face {
    font-family: $gilroy-font;
    font-weight: 500;
    src: url('../fonts/Gilroy-Medium.woff') format('woff');
}
@font-face {
    font-family: $gilroy-font;
    font-weight: 600;
    src: url('../fonts/Gilroy-SemiBold.woff') format('woff');
}

@font-face {
    font-family: $gilroy-font;
    font-weight: 700;
    src: url('../fonts/Gilroy-Bold.woff') format('woff');
}

.fb_container { max-width: 1240px; width: 100%; margin: 0 auto; padding: 0 20px; }

// Flex Classes
.fb_flex { display: flex; } 
.fb_flex-column { flex-direction: column; } 
.fb_align-center { align-items: center; }
.fb_content-end { justify-content: flex-end; }
.fb_content-center { justify-content: center; }
.fb_content-between { justify-content: space-between; }

.fb_text-center { text-align: center; }
.fb_text-right { text-align: right; }

// Grid CSS  
.fb_row { display: flex; flex-wrap: wrap; margin: 0 -10px; }


.fb_ellipsis { display: block; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
.fb_ellipsis-1 { -webkit-line-clamp: 1; }
.fb_ellipsis-2 { -webkit-line-clamp: 2; }
.fb_ellipsis-3 { -webkit-line-clamp: 3; }
.fb_ellipsis-4 { -webkit-line-clamp: 4; }
.fb_ellipsis-5 { -webkit-line-clamp: 5; }
.fb_ellipsis-6 { -webkit-line-clamp: 6; }
.fb_ellipsis-7 { -webkit-line-clamp: 7; }
.fb_ellipsis-8 { -webkit-line-clamp: 8; }
.fb_ellipsis-9 { -webkit-line-clamp: 9; }